.main-menu
    position: absolute
    top: 0
    left: 0
    z-index: 9999
    width: 100%
    .navbar-brand
        .logo-white
            display: none
    .title
        color: var(--color-link)
        font-size: 18px
        font-family: var(--base-font)
        font-weight: 700
        line-height: 25px
    .menu-nav
        gap: 9px
        min-width: 207px
        font-size: 12px
        line-height: 25px
        font-weight: 500
    .btn-nav
        gap: 25px
        font-weight: var(--base-fw)
    .menu-link
        color: var(--color-link)
    .fat
        color: var(--color-black)
        border-bottom: solid var(--color-main)
    .btn-nav__started
        background-color: var(--color-main)
        color: var(--color-white)
        border-radius: 20px
    .btn-nav__sing
        color: var(--bs-navbar-color)
        font-size: 13px
    span
        color: var(--color-main)
    .btn-nav__started
        font-size: 13px
        padding: 10px 13px
        &:hover
            background-color: #d47e7e
            color: var(--color-white)
    .menu-link:hover
        color: var(--color-main)
    .btn-nav__sing:hover
        color: var(--color-main)

.main-menu.nav-white
    .navbar-brand
        .logo-black
            display: none
        .logo-white
            display: block
    .btn
        --bs-navbar-color: var(--color-white)
    .nav-link
        --bs-nav-link-color: var(--color-white)
        --bs-nav-link-hover-color: var(--color-white)
