.main-menu
    .title
        color: var(--color-link)
        font-size: 18px
        font-family: var(--base-font)
        font-weight: 700
        line-height: 25px
    .menu-nav
        gap: 9px
        min-width: 207px
        font-size: 12px
        line-height: 25px
        font-weight: 500
    .btn-nav
        gap: 25px
        font-weight: var(--base-fw)
    .menu-link
        color: var(--color-link)
    .fat
        color: var(--color-black)
        border-bottom: solid var(--color-main)
    .btn-nav__started
        background-color: var(--color-main)
        color: var(--color-white)
        border-radius: 20px
    .btn-nav__sing
        color: var(--base-font)
        font-size: 13px
    span
        color: var(--color-main)
    .btn-nav__started
        font-size: 13px
        padding: 10px 13px
        &:hover
            background-color: #d47e7e
            color: var(--color-white)
    .menu-link:hover
        color: var(--color-main)
    .btn-nav__sing:hover
        color: var(--color-main)
