.card-blog
.pages
    margin: 60px 0 34px 0px
    gap: 15px
    .page__nam
        color: rgba(73, 80, 87, 0.50)
    .page__nam:hover
        color: #000
.card
    flex-direction: row
    gap: 30px
    border: none
    & &__img
        &-holder
            width: 49%
            margin-top: 43px
        &-link
    & &__text-holder
        margin-top: 52px
    & &__title
        margin-bottom: 17px
        font-size: 16px
        font-weight: 500
        color: #212529
        margin: 20px 0 30px
        display: inline-block
        &:hover
            color: #000
    & &__text
        color: #6C757D
        font-size: 12px
        font-weight: 300
        border-bottom: 1px solid #E5E5E5
        margin-bottom: 20px
        padding-bottom: 20px
    & &__meta
        color: #6C757D
        font-size: 12px
        font-weight: 300

        svg
        img
        &-holder
            display: flex
            justify-content: space-between

            &--top
            &--bottom
