.page-article
    padding-top: 0

.article-content
    & &__bottom-buttons,
    & &__meta
        max-width: 815px
        margin-left: auto
        margin-right: auto
        margin-top: 70px
        gap: 20px
    & &__btn
        gap: 31px
    .article-content__btn-item
        border: solid 1px
